In [1]:
import pandas as pd
import numpy as np

In [2]:
madden = pd.read_csv("maddenratings.csv")

,Full Name,Team,Position,college,awareness_rating,throwPower_rating,kickReturn_rating,leadBlock_rating,strength_rating,bCVision_rating,...,archetype,blockShedding_rating,runBlockFinesse_rating,teamId,agility_rating,fullNameForSearch,overall_rating,passBlockFinesse_rating,age,primaryKey
0,Aaron Donald,Rams,RE,Pittsburgh,99,20,10,23,99,49,...,DE_PowerRusher,97,45,24,86,Aaron Donald,99,45,31,10852
1,Davante Adams,Raiders,WR,Fresno State,99,45,45,25,63,94,...,WR_DeepThreat,52,12,23,95,Davante Adams,99,17,29,10823
2,Myles Garrett,Browns,RE,Texas AM,98,55,10,17,96,39,...,DE_PowerRusher,90,45,5,85,Myles Garrett,99,45,26,12520
3,Trent Williams,49ers,LT,Oklahoma,99,12,10,98,98,10,...,OT_Power,32,99,15,73,Trent Williams,99,92,34,9800
4,Cooper Kupp,Rams,WR,Eastern Wash.,99,59,84,34,66,96,...,WR_Slot,28,28,24,95,Cooper Kupp,98,34,29,12558

In [11]:
#this will only get madden players who play skill positions
skill = madden[(madden["Position"]=="WR") | (madden["Position"]=="RB") | (madden["Position"]=="QB") | 
       (madden["Position"]=="TE")]

In [17]:
skill[["Full Name", "overall_rating"]][skill["overall_rating"]>=70]

              Full Name  overall_rating
1         Davante Adams              99
4           Cooper Kupp              98
6          Travis Kelce              98
9         George Kittle              97
10            Tom Brady              97
...                 ...             ...
1057  Olamide Zaccheaus              70
1070       Tajae Sharpe              70
1076       Trent Taylor              70
1079        Tyler Kroft              70
1081      Tyron Johnson              70

[252 rows x 2 columns]